@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0000002b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555ce;
}

@keyframes gradient-xy {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.animate-gradient-xy {
    background-size: 200% 200%;
    animation: gradient-xy 9s ease infinite;
}
